APP_NAME=eduhub
APP_VERSION=0.1

STORAGE_PATH=storage

AZURE_DOC_ENDPOINT=
AZURE_DOC_KEY=

DB_BASE_URL=

MONGO_DB_NAME = eduhub
MONGODB_URL=
QDRANT_URL=
REDIS_URL=

COHERE_API_KEY=
OPENAI_API_URL=https://openrouter.ai/api/v1

OPENAI_API_KEY=
# OPENAI_API_KEY=
# OPENAI_API_KEY=
# OPENAI_API_KEY=
# OPENAI_API_KEY=

LANGSMITH_API_KEY=

GENERATION_BACKEND=OPENAI
GENERATION_MODEL_ID=deepseek/deepseek-v4-flash
# GENERATION_MODEL_ID=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free


EMBEDDING_BACKEND=HF
# EMBEDDING_MODEL_ID=BAAI/bge-base-en-v1.5
EMBEDDING_MODEL_ID=intfloat/multilingual-e5-large
EMBEDDING_MODEL_SIZE=1024


VECTOR_DB_BACKEND=QDRANT
VECTOR_DB_DISTANCE_METHOD=cosine