APP_NAME=eduhub
APP_VERSION=0.1

STORAGE_PATH=storage

AZURE_DOC_ENDPOINT=
AZURE_DOC_KEY=
AZURE_DOC_DEPLOYMENT=prebuilt-layout
AZURE_DOC_REGION=uaenorth

QDRANT_URL=http://localhost:6333
REDIS_URL=redis://:redisadmin123@localhost:6379

TO_BYTES=1048576

COHERE_API_KEY=
OPENAI_API_URL=
OPENAI_API_KEY=
LANGSMITH_API_KEY=


GENERATION_BACKEND=OPENAI
GENERATION_MODEL_ID=poolside/laguna-m.1:free

EMBEDDING_BACKEND=HF
EMBEDDING_MODEL_ID=all-MiniLM-L6-v2
EMBEDDING_MODEL_SIZE=384

TOP_K_DOCS=3

VECTOR_DB_BACKEND=QDRANT
VECTOR_DB_DISTANCE_METHOD=cosine