APP_NAME=eduhub
APP_VERSION=0.1

STORAGE_PATH=storage

AZURE_DOC_ENDPOINT=
AZURE_DOC_KEY=

MONGODB_URL=
QDRANT_URL=
REDIS_URL=

TO_BYTES=1048576

COHERE_API_KEY=
OPENAI_API_URL=
OPENAI_API_KEY=
LANGSMITH_API_KEY=


GENERATION_BACKEND=OPENAI
GENERATION_MODEL_ID=deepseek-v4-flash

EMBEDDING_BACKEND=HF
EMBEDDING_MODEL_ID=all-MiniLM-L6-v2
EMBEDDING_MODEL_SIZE=384


VECTOR_DB_BACKEND=QDRANT
VECTOR_DB_DISTANCE_METHOD=cosine